.products{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
}


.product_card{
    width: calc(100% / 4 - 5px) ;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.product_card img{
    width: 100%;
    height: 200px;
}

.pagination{
    display: flex;
    width: fit-content;
    margin:  0 auto;
    font-size: 20px;
    gap: 5px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}

.pagination span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.pagination .num{
    border: 1px solid black;
    padding: 5px 6px;
}


.page_selected{
    background-color: rgb(219, 120, 120);
}


.images{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images img{
    width:calc(100% / 4 - 5px);
    height: 50px;

}

.images img:hover{
    scale: 1.2;
}